.footer{
    font-family: 'Ubuntu', sans-serif;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.footer__right{
    line-height: 2rem;
}
.footer__newsletter{
    padding-top: 10px;
}
.footer__mailbox{
    padding: 8px;
}
.footer__button{
    padding: 8px;
    cursor: pointer;
}
.footer__right input:hover{
    background-color: $orange;
}

@media screen and (min-width:900px) {

    .footer{
        background-color: black;
        color: $white;
        font-family: 'Ubuntu', sans-serif;
        height: 6rem;
        display: flex;
        align-items: center;
    }
    .footer__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .footer__derechos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__right{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .footer__right ul li{
        display: inline-block;
        margin: 0 20px;
    }
    .footer__mailbox{
        padding: 8px;
    }
    .footer__button{
        padding: 8px;
        cursor: pointer;
    }
    .footer__right input:hover{
        background-color: $orange;
    }
}